.headerContainer{
    display: flex;
    width: 100%;
    margin: 30px;

    .navigationLinks{
        display: flex;
        align-content: center;

        ul{
            display: flex;
            justify-content: space-around;
            align-items: center;

            li{
                list-style: none;

                a{
                    color: black;
                    margin-right: 15px;
                }
            }
                }
    }
}