.headerContainer {
    display: flex;
    margin: 30px;

    .navigationLinks {
        display: flex;
        align-content: center;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                list-style: none;

                a {
                    color: black;
                    margin-right: 15px;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
