.jobCard {
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    flex-wrap: wrap;
    border: 1px solid lightgrey;
    border-radius: 25px;

    li {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;

        &::marker {
            content: "✨";
        }
    }
}